/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-image:url("afbeeldingen/background.jpg");
    color: #303030;
    background-size:140%;
    background-repeat: no-repeat;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: left;
    }


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-left: 5px;
    width: 200px;
    height:80%;
}

img.zweefLinks2 {
    float: left;
    width: 200px;
    height:80%;
    margin-right:5px;
    margin-top:5px;
}
  
.navigatie{ float:left;
width:100px; height:300%; margin:20px;} 
 

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
     list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    font-size:15px;
    background-color:black;
    }


nav ul li {
    float: center;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
}

nav li a:hover {
color: rgb(255, 238, 0);
}

nav li a.active {
 background-color: orange;
}





