/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-image: url('afbeeldingen/background.jpg');
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: skyblue;
    text-align: center;
}



footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: right;
    margin-left: 5px;
    width: 200px;
    height:80%
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    font-size:15px;
    background-color:black;
    
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
color: orange;
}

nav li a.active {
 background-color: orange;
}





